<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Musicians@Ryerson - Ryerson's only student group for musicians!</title>
<link href="../style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=326806564070260";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="header"></div>
<div id="menu_divider">
  <div id='cssmenu'></div>
  <div id="main_menu">
    <div id='cssmenu'>
      <ul>
        <li><a href='../index.html'><span>Home</span></a></li>
        <li><a href='../about.html'><span>About</span></a></li>
        <li><a href='../events.html'><span>Events</span></a></li>
        <li class='has-sub '><a href='../media.html'><span>Media</span></a>
          <ul>
            <li><a href='../media/photos.html'><span>Photos</span></a></li>
            <li><a href='../media/videos.html'><span>Videos</span></a></li>
          </ul>
        </li>
        <li><a href='../contact.html'><span>Contact</span></a></li>
        <li class='active has-sub '><a href='../musicians.html '><span>Musicians</span></a>
          <ul>
            <li><a href='spotlight.html'><span>Spotlight</span></a></li>
            <li><a href='directory.html'><span>Artist Directory</span></a></li>
            <li><a href='bandmates.html'><span>Find-A-Bandmate</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="container">
  <div id="left_column">
    <p>&nbsp;</p>
    <h1>Find-A-Bandmate</h1>
    <p align="center"><a href="#singers">Singers</a> - <a href="#guitarists">Guitarists</a> - <a href="#bassists">Bassists</a> - <a href="#pianists">Pianists</a> - <a href="#drummers">Drummers</a> - <a href="#djs">DJs</a></p>
    <p>&nbsp;</p>
    <h2><a name="singers" id="singers"></a>Singers</h2>
    <p>Name - Genre - Link - Contact</p>
    <p><a href="bandmates.html"><em>back to top</em></a></p>
    <p>&nbsp;</p>
    <h2><a name="guitarists" id="guitarists"></a>Guitarists</h2>
    <p>Name - Genre - Link - Contact</p>
    <p><a href="bandmates.html"><em>back to top</em></a></p>
    <p>&nbsp;</p>
    <h2><a name="bassists" id="bassists"></a>Bassists</h2>
    <p>Name - Genre - Link - Contact</p>
    <p><a href="bandmates.html"><em>back to top</em></a></p>
    <p>&nbsp;</p>
    <h2><a name="pianists" id="pianists"></a>Pianists</h2>
    <p>Name - Genre - Link - Contact</p>
    <p><a href="bandmates.html"><em>back to top</em></a></p>
    <p>&nbsp;</p>
    <h2><a name="drummers" id="drummers"></a>Drummers</h2>
    <p>Name - Genre - Link - Contact</p>
    <p><a href="bandmates.html"><em>back to top</em></a></p>
    <p>&nbsp;</p>
    <h2><a name="djs" id="djs"></a>DJs...</h2>
    <p>Name - Genre - Link - Contact</p>
    <p><a href="bandmates.html"><em>back to top</em></a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  <div id="right_column">
    <p>&nbsp;</p>
    <p>Want to get on the listing? </p>
    <p>&nbsp;</p>
    <p>Fill out 
      <script src="http://jotform.ca/min/g=feedback2" type="text/javascript">
new JotformFeedback({
formId:'21915708361252',
base:'http://jotform.ca/',
windowTitle:'Find a Bandmate',
background:'#00ADEF',
fontColor:'#FFFFFF',
type:2,
height:500,
width:500
});
</script> 
      <a class="lightbox-21915708361252" style="cursor:pointer;">this form</a> and get one step closer to making that awesome band!</p>
  </div>
</div>
<!-- Start of StatCounter Code for Dreamweaver --> 
<script type="text/javascript">
var sc_project=8107545; 
var sc_invisible=1; 
var sc_security="b6d16944"; 
</script> 
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript>
<div class="statcounter"><a title="custom counter"
href="http://statcounter.com/free-hit-counter/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/8107545/0/b6d16944/1/"
alt="custom counter"></a></div>
</noscript>
<!-- End of StatCounter Code for Dreamweaver -->
</body>
</html>
